**/__pycache__/
data/CustomGNNDataset/
output/*
venvxp/*
venv-xp
venv-gaur/*
custom_wafamole_dataset/
data/w2v-models/*
models_lames/*
logs
.vscode/*
**/.ipynb_checkpoints
shellWithCuda.nix
cache
data/*.csv
*.csv
venv-3.13.11
venv-3.12.12
result
dist/
build/
*.egg-info/
